#Movie Recommender System written by Marcel Lakeman 500694128

In [87]:
import pandas as pd
import os

#Check current working directory
wd = os.getcwd() 
print(wd)

/Users/Marcel/Desktop/Master Digital Driven Business

In [40]:
#Load data with pandas
data = pd.read_csv('userReviews all three parts.csv', sep = ';')
print(data.head())

             movieName  Metascore_w       Author         AuthorHref  \
0  birth-of-the-dragon            8   DotTheEyes   /user/DotTheEyes
1           beach-rats            2  GreatMartin  /user/GreatMartin
2  birth-of-the-dragon            8       sbolon       /user/sbolon
3           beach-rats            6      TVJerry      /user/TVJerry
4            good-time            6      TVJerry      /user/TVJerry

           Date                                            Summary  \
0  Aug 25, 2017  [ "This is a fun and interesting film. It dese...
1  Sep 22, 2017                                                 []
2  Aug 27, 2017  [ "This is an enjoyable movie that brings Bruc...
3  Sep 18, 2017  [ "An aimless young man (Harris Dickinson) han...
4  Aug 29, 2017  [ "Robert Pattinson cherishes this opportunity...

   InteractionsYesCount  InteractionsTotalCount  InteractionsThumbUp  \
0                   2.0                     4.0                  2.0
1                   0.0                     1.0                  0.0
2                   1.0                     2.0                  1.0
3                   0.0                     0.0                  0.0
4                   2.0                     2.0                  2.0

   InteractionsThumbDown
0                    2.0
1                    1.0
2                    1.0
3                    0.0
4                    0.0

In [76]:
#Create subset where of the Lord of the Rings the Return of the King
#The reviewed metascore has to be 7 at least, so you know the reviewers liked the movie
lotr =  data.loc[(data['movieName'] == 'the-lord-of-the-rings-the-return-of-the-king') & (data['Metascore_w'] >= 7)]
lotr

,movieName,Metascore_w,Author,AuthorHref,Date,Summary,InteractionsYesCount,InteractionsTotalCount,InteractionsThumbUp,InteractionsThumbDown
104400,the-lord-of-the-rings-the-return-of-the-king,10,tomymg,/user/tomymg,"Dec 16, 2012",[],19.0,20.0,19.0,1.0
104423,the-lord-of-the-rings-the-return-of-the-king,10,JawsPapi87,/user/JawsPapi87,"Aug 9, 2011",[],37.0,42.0,37.0,5.0
104446,the-lord-of-the-rings-the-return-of-the-king,10,GeorgeS.,NaN,"Sep 26, 2008",[],16.0,19.0,NaN,NaN
104471,the-lord-of-the-rings-the-return-of-the-king,10,pauljohnson,/user/pauljohnson,"Jun 6, 2012",[],6.0,6.0,6.0,0.0
104496,the-lord-of-the-rings-the-return-of-the-king,10,Brad7991,/user/Brad7991,"Jul 21, 2012",[],6.0,6.0,6.0,0.0
...,...,...,...,...,...,...,...,...,...,...
110055,the-lord-of-the-rings-the-return-of-the-king,10,arashtitan,/user/arashtitan,"Mar 1, 2017",[],0.0,0.0,0.0,0.0
110069,the-lord-of-the-rings-the-return-of-the-king,10,Thatonenerd2187,/user/Thatonenerd2187,"Jan 30, 2017","[ ""This is not only is this the best in the se...",0.0,0.0,0.0,0.0
110082,the-lord-of-the-rings-the-return-of-the-king,9,Denathorn,/user/Denathorn,"Dec 22, 2016","[ ""Amazing, just like the first two, it is emo...",0.0,0.0,0.0,0.0
110095,the-lord-of-the-rings-the-return-of-the-king,10,Xelanak,/user/Xelanak,"Aug 22, 2017","[ ""THis was simply the best trilogy i ever see...",0.0,0.0,0.0,0.0
110108,the-lord-of-the-rings-the-return-of-the-king,10,AdVictoriam,/user/AdVictoriam,"Jun 5, 2017","[ ""When Christian movies are given the chance ...",0.0,0.0,0.0,0.0

In [77]:
#The movie recommender system focusses on movies that reviewers have given a higher Metascore
#We need to select the reviewers from the smaller dataset and compare the review score to the other reviewed movies

#Column names for the dataset with recommended movies
c_names = ['movieName', 'Author', 'Metascore_w']

#Create the new dataframe RecoLOTR (Recommendations Lord of the Rings)
RecoLOTR = pd.DataFrame(columns = c_names)

#Create an empty list for the values 'increased metascore'
incLOTR = []

#Create two loops, one for the subset and one for the larger dataset
for a in range(len(lotr)):
    for b in range(len(data)):
        
#Create an if statement, where the authors are the same in both datasets and the metascore is larger in the big dataset
        if lotr.Author.iloc[a] == data.Author.iloc[b] and lotr.Metascore_w.iloc[a] < data.Metascore_w.iloc[b]:

#Create the variable inc_meta (absolute values)        
                inc_meta = data.Metascore_w.iloc[b] - lotr.Metascore_w.iloc[a] #to calculate the relative increase of metascore

#Store data from the data dataset in a variable called row    
                row = data[c_names].iloc[b]
    
#Add the row to the new dataset RecoLOTR    
                RecoLOTR = RecoLOTR.append(row)
    
#Add the data from the variable inc_meta in the empty list incLOTR    
                incLOTR.append(inc_meta)
    
#Print the metascores and the inc_meta variable to see if the values are correct 
#                print(data.Metascore_w.iloc[b], lotr.Metascore_w.iloc[a], inc_meta)

10 8 2
9 8 1
9 8 1
10 8 2
9 8 1
9 8 1
10 8 2
9 8 1
9 8 1
10 8 2
10 8 2
9 8 1
10 8 2
10 8 2
10 8 2
9 8 1
10 8 2
10 8 2
9 8 1
10 8 2
9 8 1
9 8 1
10 8 2
9 8 1
10 8 2
9 8 1
9 8 1
9 8 1
9 8 1
9 8 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
9 8 1
9 8 1
9 8 1
10 8 2
9 8 1
10 8 2
9 8 1
10 8 2
9 8 1
10 8 2
9 8 1
9 8 1
10 8 2
9 8 1
10 9 1
10 9 1
10 9 1
9 7 2
9 7 2
10 7 3
8 7 1
8 7 1
8 7 1
8 7 1
9 7 2
9 7 2
9 7 2
9 7 2
9 7 2
8 7 1
8 7 1
8 7 1
9 7 2
8 7 1
8 7 1
8 7 1
9 7 2
9 7 2
9 7 2
8 7 1
8 7 1
9 7 2
8 7 1
8 7 1
9 7 2
10 7 3
10 7 3
9 7 2
8 7 1
8 7 1
8 7 1
8 7 1
9 7 2
9 7 2
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
9 7 2
9 7 2
9 7 2
8 7 1
9 7 2
8 7 1
8 7 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 8 2
10 8 2
10 8 2
10 8 2
10 8 2
9 8 1
10 8 2
9 8 1
9 8 1
10 8 2
10 8 2
10 8 2
9 8 1
10 8 2
10 8 2
10 8 2
9 8 1
10 8 2
10 8 2
10 8 2
10 8 2
10 8 2
10 8 2
10 8 2
10 8 2
10 8 2
9 8 1
9 8 1
10 8 2
10 8 2
10 8 2
10 8 2
10 8 2
10 8 2
9 8 1
10 8 2
10 8 2
10 8 2
10 8 2
10 8 2
9 8 1
10 8 2
10 8 2
10 8 2
10 8 2
10 8 2
10 8 2
10 8 2
10 8 2
10 8 2
9 8 1
10 8 2
10 8 2
10 8 2
10 8 2
10 8 2
10 8 2
10 8 2
10 8 2
10 8 2
10 8 2
10 8 2
10 8 2
10 8 2
9 8 1
9 8 1
10 8 2
9 8 1
9 8 1
10 8 2
10 8 2
9 8 1
10 8 2
10 8 2
10 8 2
9 8 1
10 9 1
10 9 1
10 9 1
10 8 2
10 8 2
10 8 2
9 8 1
9 8 1
9 8 1
10 8 2
10 8 2
10 8 2
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 7 3
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
8 7 1
8 7 1
8 7 1
8 7 1
10 7 3
9 7 2
8 7 1
8 7 1
8 7 1
8 7 1
9 7 2
9 7 2
8 7 1
8 7 1
10 7 3
8 7 1
9 7 2
9 7 2
10 7 3
8 7 1
9 7 2
8 7 1
8 7 1
9 7 2
9 7 2
8 7 1
9 7 2
10 7 3
9 7 2
9 7 2
8 7 1
8 7 1
9 8 1
9 8 1
9 8 1
9 8 1
10 8 2
9 8 1
10 8 2
9 8 1
9 8 1
9 8 1
10 8 2
9 8 1
10 8 2
9 8 1
9 8 1
9 8 1
9 8 1
10 8 2
9 8 1
10 8 2
10 8 2
9 8 1
10 8 2
9 8 1
10 8 2
9 8 1
10 8 2
10 8 2
9 8 1
9 8 1
9 8 1
10 8 2
9 8 1
9 8 1
9 8 1
10 8 2
10 8 2
9 8 1
10 8 2
10 8 2
9 8 1
9 8 1
10 8 2
10 8 2
9 8 1
9 8 1
9 8 1
9 8 1
10 8 2
10 8 2
10 8 2
10 8 2
10 8 2
10 8 2
10 8 2
9 8 1
9 8 1
10 8 2
10 8 2
9 8 1
9 8 1
9 8 1
10 8 2
10 8 2
9 8 1
10 8 2
10 8 2
10 8 2
9 8 1
9 8 1
10 8 2
9 8 1
10 8 2
10 8 2
9 8 1
9 8 1
9 8 1
10 8 2
9 8 1
10 8 2
10 8 2
10 8 2
9 8 1
10 8 2
9 8 1
9 8 1
10 8 2
10 8 2
9 8 1
10 8 2
10 8 2
10 8 2
10 8 2
9 8 1
9 8 1
10 8 2
9 8 1
9 8 1
10 8 2
9 8 1
10 8 2
10 8 2
10 8 2
9 8 1
10 8 2
10 8 2
9 8 1
10 8 2
9 8 1
10 8 2
9 8 1
10 8 2
9 8 1
10 8 2
9 8 1
10 8 2
10 8 2
10 8 2
9 8 1
10 8 2
10 8 2
9 8 1
10 8 2
9 8 1
10 8 2
9 8 1
10 8 2
9 8 1
10 8 2
10 8 2
10 8 2
10 8 2
9 8 1
10 8 2
9 8 1
10 8 2
10 8 2
10 8 2
9 8 1
10 8 2
10 8 2
9 8 1
9 8 1
10 8 2
10 8 2
10 8 2
10 8 2
10 8 2
10 8 2
9 8 1
10 8 2
9 8 1
9 8 1
10 8 2
9 8 1
9 8 1
9 8 1
9 8 1
9 8 1
10 8 2
9 8 1
10 8 2
10 8 2
10 8 2
10 8 2
10 8 2
9 8 1
9 8 1
9 8 1
9 8 1
9 8 1
9 8 1
9 8 1
9 8 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1
9 7 2
8 7 1
8 7 1
10 7 3
10 7 3
8 7 1
8 7 1
8 7 1
9 7 2
9 7 2
8 7 1
8 7 1
10 7 3
9 7 2
9 7 2
9 7 2
8 7 1
8 7 1
8 7 1
9 7 2
9 7 2
10 7 3
9 7 2
10 7 3
8 7 1
8 7 1
9 7 2
9 7 2
8 7 1
10 9 1
10 9 1
10 9 1
10 9 1
10 9 1

In [88]:
#Add a new column 'Increased Metascore' and fill it with the values from the list incLOTR
RecoLOTR['Increased Metascore'] = incLOTR

#Add a new column with the Metascore of the original movie
RecoLOTR['Metascore LOTR3'] = RecoLOTR['Metascore_w'] - RecoLOTR['Increased Metascore'] 
RecoLOTR

,movieName,Author,Metascore_w,Increased Metascore,Metascore LOTR3
30127,the-lego-movie,EssenceOfSugar,10,2,8
41842,hotel-transylvania,EssenceOfSugar,9,1,8
43055,looper,EssenceOfSugar,9,1,8
47113,the-avengers-2012,EssenceOfSugar,10,2,8
50815,fright-night,EssenceOfSugar,9,1,8
...,...,...,...,...,...
9924,the-conjuring-2,Denathorn,10,1,9
79878,pans-labyrinth,Denathorn,10,1,9
91986,silent-hill,Denathorn,10,1,9
137419,braveheart,Denathorn,10,1,9
180884,the-conjuring,Denathorn,10,1,9

In [89]:
#Create a new dataframe and pick a random Author, to check if the Metascores are correct
controllotr = lotr.loc[lotr['Author'] == 'EssenceOfSugar']
controllotr

,movieName,Metascore_w,Author,AuthorHref,Date,Summary,InteractionsYesCount,InteractionsTotalCount,InteractionsThumbUp,InteractionsThumbDown
105055,the-lord-of-the-rings-the-return-of-the-king,8,EssenceOfSugar,/user/EssenceOfSugar,"Dec 15, 2012",[],2.0,2.0,2.0,0.0

In [95]:
##Sort Dataframe by increased metascore (descending)
RecoLOTR2 = RecoLOTR.sort_values(by=['Increased Metascore'], ascending=False)
RecoLOTR2

,movieName,Author,Metascore_w,Increased Metascore,Metascore LOTR3
157613,the-social-network,mds03,10,3,7
87871,united-93,JasonJ.,10,3,7
102101,king-kong,mds03,10,3,7
23186,whiplash,Aaron_Wasserman,10,3,7
28550,gone-girl,Aaron_Wasserman,10,3,7
...,...,...,...,...,...
46860,tyrannosaur,Andys_Reviews,10,1,9
60352,moon,Andys_Reviews,10,1,9
147845,blade-runner,Andys_Reviews,10,1,9
117075,spirited-away,Zegilgamesh,9,1,8
180884,the-conjuring,Denathorn,10,1,9

In [96]:
#Save dataframe to csv
RecoLOTR2.to_csv('RecoMoviesLOTR.csv')